name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: install npm
      run: npm install -g npm
    - name: Install Dependencies
      run: curl -sS https://getcomposer.org/installer | php -- --install-dir=/home/runner/work/laravelBlog/laravelBlog --filename=composer
    - name: If File Exist
      run: FILE=/home/runner/work/laravelBlog/laravelBlog/composer.json
        if [[ -f "$FILE" ]]; then
        echo "$FILE exists."
        fi
    - name: Composer Install
      run: cd /home/runner/work/laravelBlog/laravelBlog | php composer install
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit
